go 1.23.5

use (
	./11-interfaces
	./12-webapp
	./13-webapp-curd
	./14-weather-saas-user
	./15-using-flags
	./16-using-cobra
	./17-reading-files
	./18-parse-record-by-record
	./8-pointer
	./8-pointer/3-large-object
	./9a-testing
	./9b-func-first-class
)
